.is-first p::before {
    content: '(first) '
}

.is-last p::before {
    content: '(last) '
}

.is-odd p::after {
    content: ' (odd)'
}

.is-even p::after {
    content: ' (even)'
}

.is-empty {
    color: red;
}

.is-short {
    color: orange;
}

.is-long {
    color: green;
}